<p align="center">

<img width="250" src="./hooks.svg" alt="Two fishing hooks">

</p>

# @openformation/{{packageName}}

> {{packageDescription}}

## Installation

Using npm:

```
npm install --save @openformation/{{packageName}}
```

Using yarn:

```
yarn add @openformation/{{packageName}}
```

Using pnpm:

```
pnpm add --save @openformation/{{packageName}}
```

## API

TBD.

## Usage

TBD.

## LICENSE

see [LICENSE](./LICENSE)
